@page "/projects/create"
@inject ProjectDataAccessLayer.IProjectService service
@inject NavigationManager NavigationManager

<h3>Новый проект</h3>

<ProjectDetails ProjectObject=NewProject></ProjectDetails>



@code {
    
    Project NewProject = new Project();
}